body{
    background-image: url('/images/background.webp'); /*背景画像の設定*/
    background-position: center center; /*背景画像を中央に配置*/
    background-attachment: fixed; /*背景画像をスクロールしても固定*/
    background-size: cover; /*背景画像のサイズを設定*/
    margin: 0;
    width: 100%;
    font-family: 'Noto Serif JP Variable', serif;
    font-weight: 600;
    color: #ccc;
}
a{
    color: #9cf;
}
a:hover{
    color: #e43;
}

/*モバイル画面で画面下部のボタン分の領域を確保*/
@media screen and (max-width: 1023px) {
    body {
        margin-bottom: 50px;
    }
}

main{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 65px;
}

@media screen and (max-width: 1380px) {
    main{
        justify-content: space-between;
    }
}

content{
    width: 1035px;
    background-color: rgba(0,0,0,0.8);
    border: 4px solid #d7f300;
    border-radius: 8px;
    padding: 10px 14px;
}

navigation a{
    color: #ccc;
    text-decoration: none;
}

h1{
    margin: 12px 0;
}

main-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 16px;
}

h2{
    margin: 0 0 12px;
    border-bottom: 2px solid #ccc;
}

img.splash-image{
    width: 360px;
}
@media screen and (max-width: 400px) {
    img.splash-image{
        width: 100%;
    }
}

ul.toc{
    border: 2px solid #d7f300;
    border-radius: 6px;
    list-style: none;
    padding: 16px 32px;
    margin: 0;
}
ul.toc li::before{
    font: var(--fa-font-solid);
    content: "\f0da";
}

.splash-image{
    border: 2px solid #d7f300;
    border-radius: 6px;
}

table.basic-info{
    border: 2px solid #d7f300;
}

table, table > * > * > *{
    border: 1px solid #d7f300;
    border-collapse: collapse;
    padding: 4px 8px;
    text-align: center;
}
table th{
    background-color: rgba(200,200,100,0.2);
}
table td img{
    vertical-align: middle;
    width: 22px;
}