---
import Layout from "@layouts/Layout.astro"
import Search from "@components/Search.astro"
---
<Layout title="エージェント">
	<main-content data-pagefind-body>
		エージェント
		<a href="./Anby/">アンビー</a>
	</main-content>
</Layout>