---
import '@fontsource-variable/noto-serif-jp';
import '@styles/Global.css'
import Header from './Header.astro';
import Footer from './Footer.astro';
import Sidebar from './Sidebar.astro';
import Mobilemenu from './Mobilemenu.astro';
const { title, thumbnail } = Astro.props;
---
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <meta name="thumbnail" content={thumbnail}/>
        <script src="https://kit.fontawesome.com/f0add8c192.js" crossorigin="anonymous"></script>
		<title>{title} | Sanasuno</title>
    </head>
    <body>
        <container>
            <Header />
            <main>
                <content>
                    <slot/>
                </content>
                <Sidebar />
            </main>
            <Footer />
        </container>
        <Mobilemenu />
    </body>
</html>