---
import '@styles/Global.css'
import Search from '@components/Search.astro'
---
<style>
    sidebar::-webkit-scrollbar{
        width: 8px;
    }
    sidebar::-webkit-scrollbar-track{
        background-color: #333;
        border: none;
        border-radius: 0 4px 4px 0;
    }
    sidebar::-webkit-scrollbar-thumb{
        background-color: #aaa;
        border-radius: 8px;
        box-shadow: none;
    }
    h2{
        margin-top: 0;
    }
    h2 a{
        color: #ccc;
        text-decoration: none;
    }
</style>
<sidebar>
    <h2><a href="/">ホーム</a></h2>
</sidebar>