---
import Layout from "@layouts/Layout.astro";
import { Image } from "astro:assets";
import Thumbnail from "@assets/images/agent/Anby-icon.webp";
---
<Layout title="アンビー">
    <navigation>
        <span class="fas fa-folder fa-fw"></span>
        <a href="/Agent/">エージェント</a>
        <span class="fas fa-angle-right fa-fw"></span>
        <span class="fas fa-file fa-fw"></span>
        アンビー
    </navigation>
    <main-content data-pagefind-body>
        <h1>アンビー</h1>
    </main-content>
</Layout>